h1{
    background-color: rgb(50, 44, 44);
    color: white;
    font-style: oblique;
    text-align: center;
    text-decoration: underline;
    font-size: 100px;
}
body{
    background-color: black;
}
h2{
    color: white;
    margin-left: 90px;
    text-decoration: underline;
    font-size: 60px;
}
p{
    margin-left: 90px;
    font-size: 30px;
}